:root{
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);

}

#panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#reset{
    left: 50%;
}

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0px;
}

.logo{
    display: block;
    max-width: 100x;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}